*{
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons{
    border-radius: 1000px;
    font-size: large;
    background-color: rgb(29, 22, 22);
    color: whitesmoke;

}


#lista{
    width: 140%;
    border-radius: 10px;
    background-color: rgb(29, 22, 22);
    color: whitesmoke;
    font-size: large;
}

