* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  header.titulo {
    background-color: #4CAF50;
    padding: 20px 0;
    color: white;
    margin-bottom: 30px;
  }
  
  main {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .buttons:hover {
    background-color: #45a049;
  }
  
  input[type="text"] {
    width: calc(100% - 22px); /* Ajuste para o padding */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  #lista {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid #ddd;
  }
  
  #lista ul {
    list-style: none;
  }
  
  #lista ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #lista ul li:last-child {
    border-bottom: none;
  }
  
  .tarefa {
    margin-bottom: 20px;
  }
  
  input[type="button"]:active {
    transform: scale(0.98);
  }
